<!DOCTYPE html>
<html ng-app="LoginModule">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LapemCfe</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'login', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="LoginController">
<style>
  html, body {
    background: rgb(27, 128, 77) !important;
  }

  md-content.md-default-theme, md-content {
    background: rgb(27, 128, 77) !important;
  }
</style>

<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex="30"></div>
  <div flex-xs flex-gt-xs="40" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <img style="width:100%;margin-left: auto;margin-right: auto;" ng-src="<%= image_url('lapem-cfe.jpg') %>">
          <span style="text-align: center;" class="md-headline">Iniciar Sesión</span>
        </md-card-title-text>
      </md-card-title>
      <%= form_for(:session, url: login_path, html: {class: 'form-horizontal'}) do |f| %>
          <md-card-content>
            <% if !flash[:notice].nil? %>
                <md-toolbar class="md-warn text-center" style="min-height: 30px;">
                  <%= flash[:notice] %>
                </md-toolbar>
            <% end %>
            <md-input-container class="md-block">
              <label>Usuario</label>
              <%= f.text_field :username, class: 'form-control' %>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Contraseña</label>
              <%= f.password_field :password, class: 'form-control' %>
            </md-input-container>
          </md-card-content>
          <md-card-actions layout="row" layout-align="center">
            <md-button class="md-primary md-raised" type="submit">Iniciar Sesión</md-button>
          </md-card-actions>
      <% end %>
    </md-card>

  </div>
</md-content>
</body>
</html>

